
.top-row{
    width: 100vw;
    background-color: blue;
    min-height: 459px;
    /* border-radius: 100% 0% 49% 0% / 0% 100% 93% 99%; */
    background-image: url('../../assets/images/bg.jpg');
    background-color: rgb(101, 92, 92);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 7em;
    height: 7em;
}
.footerlogo {
    width: 7em;
    height: 7em;
}

.top-banner{
    line-height: 4em;
    width: 650px;
    text-align:center;
    margin: auto !important;
}
.bureaus{
    margin-top: 4em;
}

.container {
    position: relative;
  }

.bureau-card{
    position: relative;
    background-color: red;
    height: 50vh;
    border-radius: 5px 5px 5px 5px;
    margin: 0;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.join-us{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .bureau-card {
    opacity: 0.2;
  }
  
  .container:hover .join-us {
    opacity: 1;
  }

.bureau-name{
    position: absolute;
    bottom: 20px;
    left: 15px;
    padding: 10px;
}
.bureau-image{
    width: 100%;
    height: 100%;
    min-height: 50vh;
    border-radius: 5px 5px 5px 5px;
}

footer{
    background-color: #1a5557;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 4em;
    width: 100vw;
    padding-bottom: 1em;
}

.mantine-Button-root{
    color: white;
}


@media only screen and (max-width: 768px) {
    footer{
        background-color: #1a5557;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 4em;
        padding-bottom: 5.8em;
        text-align: center;
    }
    footer > * {
        text-align: center;
    }
    footer > ul {
        text-align: center;
    }
    ul {
        margin: auto !important;
        width: 200px !important;
    }
    .top-row {
        width: 100vw;
    }
    .logo{
        width: 55px;
        height: 55px;
    }
    .footerlogo{
        width: 130px;
        height: 130px;
        margin: auto;
    }
    .top-banner{
        width: auto;
        line-height: 1em;
        text-align:center;
        margin-top: 55px !important;
    }
}